<!--Image and Header Container-->
<div class="container-2">
    <h1 class="glow">Get your Burgers Here!!!</h1>


    <div class="photobanner">
        <img class="first" src="/assets/img/img-1.jpg" alt="" />
        <img src="/assets/img/img-2.jpg" alt="" />
        <img src="/assets/img/img-3.jpg" alt="" />
        <img src="/assets/img/img-4.jpg" alt="" />
        <img src="/assets/img/img-5.jpg" alt="" />
        <img src="/assets/img/img-1.jpg" alt="" />
        <img src="/assets/img/img-2.jpg" alt="" />
        <img src="/assets/img/img-3.jpg" alt="" />
        <img src="/assets/img/img-4.jpg" alt="" />
        <img src="/assets/img/img-5.jpg" alt="" />

    </div>
</div>

<h1>Eat-Da-Burger!</h1>
</div>

<!--Left side-->
<div class="row">
    <div class="col-sm-6">
        <br />
        <h2>Burgers to Devour!!</h2>
        <ul>
            {{#each burgers}}
            {{#unless this.devoured}}
            <li>
                {{this.id}}
                {{this.burger_name}}
                <form action="/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="devoured" value="true">
                    <button class="btn btn-primary" type="submit" id="devourbtn">Devour Me!</button>
                </form>
            </li>
            {{/unless}}
            {{/each}}
        </ul>

    </div>

    <!--Right side-->
    <div class="col-sm-6">
        <br />
        <h2>Burgers Devoured!!</h2>

        {{#each burgers}}
        {{#if this.devoured}}
        <li>
            {{this.id}}
            {{this.burger_name}}
        </li>

        {{/if}}
        {{/each}}

    </div>
</div>
<!--End Row -->
<div class="row"></div>
<br />
<br />
<div class="row">
    <div class="center col-sm-12">
        <form class="create form" action="/" method="POST">

            <div class="form-group">
                <label for="newburger">Burger Name</label>
                <input type="text" id="newburger" name="burger_name">

                <button class="btn btn-primary" type="submit" id="addburger">Submit Order
                </button>
                <br />
                <h6>Enter the name of the burger you want to eat and then click "Submit Order" button.</h6>
        </form>
    </div>
    <!--End Row-->

</div>